.login-page-background {
  background-image: url("https://cdn.pixabay.com/photo/2017/09/06/12/55/virgin-2721333_1280.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}
.form-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100vw;
}
